<div class="show-container">
  <h3><%= @task.title.capitalize %></h3>
  <p><%= @task.details %></p>
  <%= link_to "âª", tasks_path %>
  <%= link_to "ðŸ–Œ", edit_task_path %>
  <%= link_to "ðŸ—‘",
    task_path(@task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</div>
